#capçalera,
#footer {
    width: 1000px;
    height: 120px;
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
}

#blau,
#taronja {
    width: 200px;
    height: 250px;
    display: inline-block;
}

#verd {
    width: 590px;
    height: 250px;
    background-color: green;
    display: inline-block;
}

body {
    width: 100%;
    margin: 150px;
    margin-top: 80px;
    margin-left: 200px;;

}

#blau {
    background-color: blue;
}

#taronja {
    background-color: coral;
}

#capçalera {
    background-color: yellow;
}

#footer {
    background-color: red;
}


  
