body, html {
    
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: burlywood;
}

#phone {
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 10px;
}

#topbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#shop_icon {
    padding-right: 30px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#profile {
    padding-left: 860px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

#logo {
    display: flex;
    justify-content: center;
    height: 140px;
}

#nav {
    display: flex;
    justify-content: center;
    padding-top: ;
    
}

li {
    display: inline-flex;
    justify-content: center;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(46, 45, 43);
    color: white;
    padding-top: 10px;
    margin: 30px;
}

li:hover {
    background-color: white;
    border: 1px solid rgb(46, 45, 42);
    color: black;
  }

 /*Banner Homepage*/

  #section1 {
      background-image: url(Images/maple-g986cfa7fe_1920.jpg);
      height: 40%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;

    }

    #principal {
        display: flex;
        flex-direction: row;
    }

    /*Arxiu de productes*/

    #section2 {
        display: flex;
        flex-grow: 3;
        flex-wrap: wrap;
        border: 5px solid black;
    }

    #llibre1,
    #llibre2,
    #llibre3,
    #llibre4,
    #llibre5,
    #llibre6 {
        display: flex;
        flex-basis: 30%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
       border: 1px solid black;

    }


  #lateral {
      display: inline-flex;
      flex-direction: row;
      flex-grow: 1;
      width: 220px;
      height: 900px;
      background-image: url(Images/vertical.jpg);
      border: 5px solid black;

  }



#footer {
      width: 1400px;
      height: 100px;
      background-color: tomato;
      border: 5px solid black;
}

#subfooter {
      display: flex;
      justify-content: center;
      padding-top: 10px;
  }